{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

<style type="text/css">
    .flex {display: flex; padding: 0 5px;}
    .flex-item {  flex: 1 1 auto; margin: 0 5px;}
        </style>

<div class="body-content">
  <div>
    <h3>Create address</h3>
    <hr><br>
      <div class="flex">
    <div class="flex-item">
      <form name="post" method="post" action="{{ url_for('main.handle_data_create_address') }}">
          <h5>Создание адреса</h5>
          <div class="addr-form">
   {{ wtf.form_field(address.project) }}
   {{ wtf.form_field(address.address_name) }}
   {{ wtf.form_field(address.address_type) }}
   {{ wtf.form_field(address.address) }}
              </div>
  <button class="btn btn-success" type="submit">Send</button>
 </form>
    </div>
      <div class="flex-item"></div>
      </div>
  </div>
</div>

{% endblock %}