{% extends "_base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<style type="text/css">
    .flex {display: flex; padding: 0 5px;}
    .flex-item {  flex: 1 1 auto; margin: 0 5px;}
        </style>
<div class="flex">
    <div class="flex-item">
  <form action="{{ url_for('main.handle_data_accesses') }}" method="post" name="post">
   {{ wtf.form_field(select_project.project_select) }}
   {{ wtf.form_field(access_name.name) }}
  <p><b>Выберите группы адресов откуда нужен доступ:</b><br>
   {{ wtf.form_field(select_addr_form.addr_groups) }}
   <p><b>Выберите группы адресов куда нужен доступ:</b><br>
   {{ wtf.form_field(select_addr_form.addr_groups) }}
   <p><b>Выберите группы приложений куда нужен доступ:</b><br>
   {{ wtf.form_field(select_app_form.app_groups) }}
   <button class="btn btn-success" type="submit">Send</button>
  </form>
        </div>
  <div class="flex-item">
      <form name="post" method="post" action="{{ url_for('main.handle_data_addr') }}">
          <h5>Создание группы адресов</h5>
   {{ wtf.form_field(addr_form.project_addr) }}
   {{ wtf.form_field(addr_form.name_addrs) }}
   {{ wtf.form_field(addr_form.addresses) }}
  <button class="btn btn-success" type="button" id="add">Add address</button>
  <button class="btn btn-success" type="submit">Send</button>
 </form>
    </div>
    <div class="flex-item">
      <form name="post" method="post" action="{{ url_for('main.handle_data_app') }}">
          <h5>Создание группы приложений</h5>
   {{ wtf.form_field(app_form.project_app) }}
   {{ wtf.form_field(app_form.name_apps) }}
   {{ wtf.form_field(app_form.apps) }}
  <button class="btn btn-success" type="submit">Send</button>
 </form>
    </div>
</div>


    <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>
    <script src="home.js"></script>
{% endblock %}
